<html>
<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1638718853011507&version=v2.0"></script>
		<script src="javascripts/login.js"></script>
</head>
<body>
	<h3>ONLINE</h3>
	<button onClick="loginClick()">LOGIN</button>
</body>

</html>
