<html>
	<head>
		<title>PicOne - Way out West</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="stylesheets/schedule.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="javascripts/schedule.js"></script>
	</head>
	<body>
		<script>
			var thursdayStr = '<%-thursday%>';
			var thursday = JSON.parse(thursdayStr);
			var fridayStr = '<%-friday%>';
			var friday = JSON.parse(fridayStr);
			var saturdayStr = '<%-saturday%>';
			var saturday = JSON.parse(saturdayStr);
		</script>
		
		<div id="menu">
			<div><span onClick="renderDay(thursday,'thursday')" id="thursday" class="menu-text active-menu-item">THU</span></div><div><span onClick="renderDay(friday,'friday')" id="friday" class="menu-text">FRI</span></div><div><span onClick="renderDay(saturday,'saturday')" id="saturday" class="menu-text">SAT</span></div>
		</div>
		<div id="schedule">
		</div>
		<div id="bottom-menu">
			<a href="/pic"><div class="Button Button-rounded Button-small" id="button-back"  ><div class="Button-text-center">Go Pic</div></div></a><div class="Button Button-rounded Button-small" id="button-clear-schedule"><div class="Button-text-center">Clear</div></div>
		</div>
	</body>
</html>