<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/schedule.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="javascripts/schedule.js"></script>
	</head>
	<body>
		<script>
			var thursdayStr = '<%-thursday%>';
			var thursday = JSON.parse(thursdayStr);
			var fridayStr = '<%-friday%>';
			var friday = JSON.parse(fridayStr);
			var saturdayStr = '<%-saturday%>';
			var saturday = JSON.parse(saturdayStr);
		</script>
		
		<div id="menu">
			<div><span class="menu-text">THURSDAY</span></div><div><span class="menu-text">FRIDAY</span></div><div><span class="menu-text">SATURDAY</span></div>
		</div>
		<div id="schedule">
	<!--		<div class="show-div" style="width:100%;top:50px;"><div id="schedule-text"><h3>Angelicque Kodjo</h3><span>12.00</span></div></div>
			<div class="show-div" style="width:50%;top:210px;"><div id="schedule-text"><h3>Ms. Lauryn Hill</h3><span>13.50</span></div></div>
			<div class="show-div" style="width:50%;top:250px;margin-left:50%"><div id="schedule-text"><h3>The Julie Ruin</h3><span>20.00</span></div></div>
			<div class="show-div" style="width:100%;top:450px;"><div id="schedule-text"><h3>Tove Lo</h3><span>20.15</span></div></div>
			<div class="show-div" style="width:100%;top:700px;"><div id="schedule-text"><h3>Father John Misty</h3><span>21.40</span></div></div>-->
		</div>
	</body>
</html>