body{
	background-image: url('/images/test.png');
	background-repeat: repeat-y;
	margin:0;
	height:1200px;
}
.show-div{
	height:120px;
	background: rgba(0,0,0,0.7); 
	float:left;
	position:absolute;
	display: table;
	text-align:left!important; 
}
h3, span{
	padding-left: 10px;
	color: white;
	font-family: Courier New, Courier, monospace;
}
#schedule-text{
	opacity: 1.0;
	    display: table-cell;
vertical-align: middle;
	height:100;
	text-align:left!important;
	overflow:hidden;
}
.stage-text{
	text-align: right !important;
	margin-right: 10px;
	float: right;
}
#menu{
	width: 100%;
	background: rgba(0,0,0,0.7); 
	height:30px;
	padding-top:4px
}
#menu div{
	float: left;
	width:30%;
	padding-left: 0;
	opacity: 1;
	text-align: center;
}
.menu-text{
	opacity: 1.0;
	font-size: 22px;
}
#friends-row{
	float:right;
	margin-top: 5px;
	display: table-cell;
	padding-right: 5px;
	overflow-x:scroll;
	overflow-y:hidden;
	height:35px;
	width:150%;
}
.friends-row-wrapper{
	overflow-x: scroll;
	overflow-y: hidden;	
}
.friend-circle{
	background-size: contain;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    float: right;
    height: 30px;
    width: 30px;
	margin-left:2px;
	margin-right:2px;
	border: 1px solid white;
}
.active-menu-item{
	text-decoration: underline;
}
#back-btn{
	position: absolute;
	top:40px;
	left:10px;
}
