body{
	background-image: url('/images/test.png');
	background-repeat: repeat-y;
	margin:0;
	height:1200px;
	    font-family: Courier New,Courier,monospace;
}
.show-div{
	height:120px;
	background: rgba(0,0,0,0.7); 
	float:left;
	position:absolute;
	display: table;
	text-align:left!important; 
}
h3, span{
	padding-left: 10px;
	color: white;
	font-family: Courier New, Courier, monospace;
}
#schedule-text{
	opacity: 1.0;
	    display: table-cell;
vertical-align: middle;
	height:100;
	text-align:left!important;
	overflow:hidden;
}
.stage-text{
	text-align: right !important;
	margin-right: 10px;
	float: right;
}
#menu{
	width: 100%;
	background: rgba(0,0,0,0.7); 
	height:30px;
	padding-top:4px
}
#menu div{
	float: left;
	width:30%;
	padding-left: 0;
	opacity: 1;
	text-align: center;
}
.menu-text{
	opacity: 1.0;
	font-size: 22px;
}
#friends-row{
	float:right;
	margin-top: 5px;
	display: table-cell;
	padding-right: 5px;
	overflow-x:scroll;
	overflow-y:hidden;
	height:35px;
	width:150%;
}
.friends-row-wrapper{
	overflow-x: scroll;
	overflow-y: hidden;	
}
.friend-circle{
	background-size: contain;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    float: right;
    height: 30px;
    width: 30px;
	margin-left:2px;
	margin-right:2px;
	border: 1px solid white;
}
.active-menu-item{
	text-decoration: underline;
}
#back-btn{
	position: absolute;
	top:40px;
	left:10px;
}
#bottom-menu{
	width: 100%;
	display: block;
	float:left;
	margin-top:1250px;
	text-align: center
}
.Button-small {
    width: 33vw;
}
.Button-rounded {
    background-color: #11151f;
    border: medium none;
    border-radius: 25px;
    height: 50px;
    margin: 10px auto 0;
    padding: 0;
    text-align: center;
}
.Button {
/*    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;*/
    border: medium none;
    color: white;
    font-size: 17px;
    outline: medium none;

}
.Button-text-center {
    font-weight: 300;
    padding-top: 12.5px;
    font-size: 20px;
}
#button-back, #button-clear-schedule{
	display: inline-block;
	margin: 5px 5px 5px 5px;
	background:rgba(0,0,0,0.9);
}
a{
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
.Clear-schedule-box {
  display: none;
  content: "";
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }
  .Finished-text {
  float: left;
  width: 100%; }
  #button-schedule{
    background-color: mediumspringgreen;
  }
  .Wizard-content {
  font-size: 20px;
  padding: 0 10vw; }
  .Wizard-content h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px; }

.Wizard-row {
  width: 100%;
  margin-bottom: 30px; }

.Wizard-text {
  float: left;
  width: 75%; }

.Wizard-text-full {
  width: 100%;
  margin-bottom: 50px; }

.Wizard-img {
  float: left;
  width: 20%%; }
  .Wizard-img:nth-of-type(even) {
    padding-left: 0; }
  .Wizard-img img {
    height: 50px; }
	
.Artist-info-box {
  display: none;
  content: "";
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }
#button-clear-yes{
  	display: inline-block;
    background: darkred;
}
  #button-clear-no{
	display: inline-block;
  background-color: lightslategrey
}